{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/blog.css' %}">
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Uniform.js/4.3.0/js/jquery.uniform.bundled.js"></script>
{% endblock %}
{% block extra_title %} - {{ post.title }} {% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="hero-body">
    <div class="container">
        <div class="col text-center mt-4">
            <div>
                <h3 class="logo-font product-h1">Dive into there Story!</h3>
                <a class="btn danger my-4 btn-blog" href="{% url 'blog' %}">Head back to the blog homepage!<i
                        class="fas fa-plus-circle m-2"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-left my-4 col-lg-6 col-sm-12">
                <div class="card blog-card container">
                    <div class="card-header row justify-content-center">
                        <div class="card-header-title justify-content-center">
                            <div class="card-header-title justify-content-center">
                                <h4> {{ post.title }}</h4>
                            </div>
                        </div>
                    </div>
                    {% if post.image %}
                    <a href="{% url 'post_detail' post.slug %}" class="card-image row justify-content-center">
                        <div class="card-image">
                            <figure class="is-flex align-items-center justify-content-center image is-height-300">
                                <img src="{{ post.image.url }}" alt="image for {{ post.title }}">
                            </figure>
                        </div>
                    </a>
                    {% else %}
                    <div class="card-image">
                        <figure class="is-flex align-items-center justify-content-center image is-height-300">
                            <img src="{{ MEDIA_URL }}noimage.png" alt="image for {{ post.title }}">
                        </figure>
                    </div>
                    {% endif %}
                    <div class="card-content blog-card-content p-2">
                        <p class="blog-card-content">
                            {{ post.content | capfirst }}
                        </p>

                        <div class="blog-content content">
                            <p class="blog-p">By: <span class="blog-small">{{ post.author }},
                                    {{ post.created_on|timesince }}
                                    ago </span></p>
                        </div>
                    </div>
                    {% if post.author == request.user %}
                    <div class="columns is-mobile has-text-centered is-justify-content-center p-2">
                        <div class="col">
                            <a href="{% url 'edit_post' post.slug %}" class="btn btn-warning m-1">Edit<i
                                    class="fas fa-user-edit ml-2"></i></a>
                        </div>
                        <div class="col">
                            <a href="{% url 'delete_post' post.slug %}" class="btn btn-danger m-1">Delete<i
                                    class="fas fa-trash-alt ml-2"></i></a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-lg-6 col-sm-12">
                <div class="card comments my-4">
                    <div class="card-header">
                        <div class="card-header-title">
                            <h4 class="title-heading-small">Comments about {{ post.title }}</h4>
                        </div>
                    </div>
                    <div class="card-content p-3">
                        {% for comment in post.comments.all %}
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p class="blog-content">
                                        {{ comment.comment }}
                                    </p>
                                    <p>comment by: <span class="blog-small">{{ comment.comment_author }}
                                            {{ comment.date_added|timesince }} ago</span>
                                    </p>
                                </div>
                            </div>
                        </article>
                        {% empty %}
                        <div class="my-4">
                            No comments yet...
                        </div>
                        {% endfor %}

                        {% if user.is_authenticated %}
                        <form method="post" action=".">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="field">
                                <div class="control">
                                    <div class="columns is-mobile has-text-centered is-justify-content-space-evenly">
                                        <div class="column">
                                            <button class="btn btn-success m-1">Submit <i
                                                    class="fas fa-plane-departure ml-2"></i></button>
                                        </div>
                                        <div class="column">
                                            <button type="reset" class="btn btn-danger is-info is-light m-1">Reset <i
                                                    class="fas fa-undo ml-2"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        {% else %}
                        <h5 class="title-heading-small">Please <a href="{% url 'account_login' %}">log in</a> to add a
                            comment </h5>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script src="{% static 'products/js/modal.js' %}"></script>
{% endblock %}